<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Seekers Books</title>
    <link href="{% static 'inventory/index.css' %}" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />
</head>
  
<body>
    
    
    <nav class="navbar">
        <ul>
            <li><a href="default.asp">Home</a></li>
            <li><a href="add.asp">Add Bulk</a></li>
            <li><a href="inventory.asp">Inventory</a></li>
            <li><a href="analytics.asp">Analytics</a></li>
            <h1>
            SEEKERS BOOKS
            </h1>
        </ul>
        
        
    </nav>
    
    <fsearch>
        <button type="button">Title</button>
        <button type="button">Author</button>
        <button type="button">Category</button>
    </fsearch>
    
    <div class="topnav">
  
  <!-- <a class="active" href="#home">Add</a>
   <a href="#about">About</a> 
   <a href="#contact">Contact</a>  -->

        <img src="http://www.stickpng.com/assets/images/585e4ae9cb11b227491c3394.png" alt="Smiley face" width="20" height="20" >
        <form action="" method="POST">
            {% csrf_token %}
            <input type="text" name="search_term" size="50" placeholder="Search for books... " value ="{% if search_term %}{{search_term}}{% endif %}"><br>
            <input type="submit" name="search" value="search">
            {% if found_results %}
                <br>
                <ul>
                {% for book in results %}
                    <input type="submit" name="{{book.pk}}" value = "{{book.book_name}}"><br>
                {% endfor %}
                </ul>
    
            {% endif %}
        </form>
    </div>
    
   <form action="" method= "POST" >
    {% csrf_token %}
       Book Title:<br><br>
       <input type="text" name="Title" value="{{metadata.Title}}"/> <br><br>
       Author Name:<br><br>
       <input type="text" name="Author" value="{{metadata.Author}}"/> <br><br>
       Current Quantity:<br><br>   <!-- need to fetch value from database -->
       <input type="number" name="Quantity" value="0" size="30" /> <br><br>
       Category: <br><br>
       <input type="text" name="Category" list="category" size="30"/>
       <datalist id="category">
            {% for category in categories %}
                <option>{% if category %}{{category}}{%endif%}</option>
            {% endfor %}
        </datalist> <br><br>
        ISBN Barcode: <br><br>
       <input type="text" name="ISBN" value="{{metadata.ISBN}}" size="30"/> <br><br><br>
       <input type="submit" name="lookup" value="ISBN Lookup" ><br>
       {% if isbnFound == False%}ISBN not found.<br>{% endif %}
       <input type="submit" name="add_button" value="Submit" >
    </form>
    
    
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
</body>

</html>