h3 {
    font-family: "Open Sans";
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 15.4px;
}

p {
    font-family: "Open Sans";
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;
}

.navbar ul h1 {
    font-family: "Open Sans";
    font-size: 45px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 26.4px;
    padding-left: 35px;
    position: fixed;
    background-color: white;
}

.navbar ul {
    font-family: "Open Sans";
    font-size: 20px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    width: 100%;
    position: fixed;
    clear: both;
    background-color: white;
}

.navbar li {
    padding-top: 35px;
    float: right;
    padding-right: 30px;
   /* border-right: 1px solid #bbb; */
}

.navbar li a {
    display: block;
    color: black;
    text-align: center;
    padding: 12px 12px;
    text-decoration: none;
}

.navbar li a:hover {
    background-color: #86B1E8;
}

.inputinfo form {
    padding-top: 20px;
    font-family: "Open Sans";
    font-size: 18px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 20px;
    float: left;
    text-align: left;
    padding-left: 50px;
}

.inputinfo input[type=text] {
    font-family: "Open Sans";
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 20px;
    width: 220px;

}

.inputinfo input[type=number] {
    font-family: "Open Sans";
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 20px;
    width: 220px;

}

.inputinfo input[type=submit] {
    font-family: "Open Sans";
    font-size: 18px;
    background-color: #FFFFFF;
    border: 1px solid #DCDCDC;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 230px;
    height: 40px;

}

.inputinfo input[type=submit]:hover {
    background-color: #86B1E8;
    cursor: pointer;

}

select option {
    font-family: "Open Sans";
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 20px;
    height: 20px;
}


.topnav img{
  float:left;
  padding-left: 60px;
  padding-right: 10px;
  padding-top: 10px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #86B1E8;
    color: black;
}

/* Style the "active" element to highlight the current page */
.topnav .active {
    background-color: #f2f2f2;
    color: black;
}

/* Style the search box inside the navigation bar */
.topnav input[type=text] {
    float: left;
    height:40px;
    text-indent:20px;
    border-color: #CCD3D5 ;
    border-width: 1.1px;
    border-style: solid;
    border-radius: 18px;
    font-size: 14px;
    font-family: "Open Sans";
    width: 800px;
}
.topnav input[type=submit] {
    font-family: "Open Sans";
    font-size: 14px;
    background-color: #FFFFFF;
    border: 1px solid #DCDCDC;
    color: black;
    text-align: center;
    text-decoration: none;
    width: 80px;
    height: 30px;

}
.topnav input[type=submit]:hover {
    background-color: #86B1E8;
    cursor: pointer;
}

.topnav input[type=submit] {
    font-family: "Open Sans";
    font-size: 14px;
    background-color: #FFFFFF;
    border: 1px solid #DCDCDC;
    color: black;
    text-align: center;
    text-decoration: none;
    width: 80px;
    height: 30px;
}

#booksubmit {
  font-family: "Open Sans";
  font-size: 18px;
  background-color: #FFFFFF;
  color: black;
  text-align: center;
  text-decoration: none;
  width: 500px;
  height: 50px;
  text-align: left;
  padding-left: 50px;
}

.fsearch{
    padding-top: 20px;
    float:left;
    padding-left:50px;
    background-color:white;
    font-family:"Open Sans";
    font-size: 16px;
}

/* Customize the label (the container) */
.fsearch.container {
  padding-left: 35px;
  cursor: pointer;
}

/* Hide the browser's default radio button */
.container input[type="radio"] {
  height:22px;
  width:25px;
  background-color:#eee;
}
