h3 {
    font-family: "Open Sans";
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 15.4px;
}

p {
    font-family: "Open Sans";
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;
}

hr{
    height: 3px;
    background-color:black;
    color:black;
    width: 800px;
}

.navbar ul h1 {
    font-family: "Open Sans";
    font-size: 45px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 26.4px;
    padding-left: 35px;
    position: fixed;
    background-color: white;
}

.navbar ul {
    font-family: "Open Sans";
    font-size: 20px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    width: 100%;
    position: fixed;
    clear: both;
    background-color: white;
}

.navbar li {
    padding-top: 35px;
    float: right;
    padding-right: 30px;
   /* border-right: 1px solid #bbb; */
}

.navbar li a {
    display: block;
    color: black;
    text-align: center;
    padding: 12px 12px;
    text-decoration: none;
}

.navbar li a:hover {
    background-color: #86B1E8;
}

.inputinfo form {
    font-family: "Open Sans";
    font-size: 18px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 20px;
    float: right;
    margin-top:-160px;
    padding-top: 65px;
    padding-right: 10px;
    padding-bottom: 400px;
}

.inputinfo input[type=text] {
    font-family: "Open Sans";
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 20px;
    width: 220px;

}

.inputinfo input[type=number] {
    font-family: "Open Sans";
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 20px;
    width: 220px;

}

.inputinfo input[type=submit] {
    font-family: "Open Sans";
    font-size: 18px;
    background-color: #FFFFFF;
    border: 1px solid #DCDCDC;
    color: black;
    padding: 10px 83px;
    text-align: center;
    text-decoration: none;
    display: inline-block;

}

.inputinfo input[type=submit]:hover {
    background-color: #86B1E8;
    cursor: pointer;

}

select option {
    font-family: "Open Sans";
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 20px;
    height: 20px;
}


.topnav img{
    padding-top:0px;
    margin-top:60px;
    /*margin-left:-695px;*/
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #86B1E8;
    color: black;
}

/* Style the "active" element to highlight the current page */
.topnav .active {
    background-color: #f2f2f2;
    color: black;
}

/* Style the search box inside the navigation bar */
.topnav input[type=text] {
    float: left;
    height:40px;
    text-indent:40px;
    border-color: #CCD3D5 ;
    border-width: 1.1px;
    border-style: solid;
    border-radius: 18px;
    margin-top: 50px;
    /*margin-left:150px;*/
    margin-bottom: 9px;
    font-size: 14px;
    font-family: "Open Sans";
    width: 700px;
}
/*
.topnav input[type=submit] {
    float: left;
    height:1px;
    border-color: #000000 ;
    border-width: 0.1px;
    border-style: none;
    border-radius: 18px;
    margin-top: 0px;
    margin-left:0px;
    margin-bottom: 0px;
    font-size: 4px;
    font-family: "Open Sans";
    width: 1px;
    overflow: hidden;
    background-color: black;
    color:white;
} */
.topnav input[type=submit] {
    font-family: "Open Sans";
    font-size: 18px;
    background-color: #FFFFFF;
    border: 1px solid #DCDCDC;
    color: black;
    padding: 10px 83px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.fsearch{
    padding:10px;
    float:left;
    margin-top:100px;
    top:50px;
    margin-left:50px;
    background-color:white;
}

/* Customize the label (the container) */
.fsearch.container {
  padding-left: 35px;
  cursor: pointer;
  font-size: 16px;
  font-family:"Open Sans";
}

/* Hide the browser's default radio button */
.container input[type="radio"] {
  height:22px;
  width:25px;
  background-color:#eee;
}

/*.container{
  display:inline;
}*/
